@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Merriweather&family=Redressed&family=Roboto&display=swap');;

/*style de body & html*/

html,body{
margin:0;
width:100%;
box-sizing:border-box;
}

/*les fonts deu site */
.merriweather{
    font-family: 'Merriweather', serif;
}

.allura{
    font-family: 'Allura', cursive;
}

.redressed{
    font-family: 'Redressed', cursive;

}

.greatvibes{
    font-family: 'Great Vibes', cursive;

}
.roboto{
    font-family: 'Roboto', sans-serif;
}

/* style de la navbar */
.H-nav{
    height:600px;
    display:block;
    padding-top:120px;
    background-image:url(background.jpg);
    background-size:cover;

}

/* disposition des elementsde navigation*/
.H-nav a{
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    

}

/* le suvol des liens*/
.H-nav a:hover{
    color:var(--bs-yellow);
    background:transparent;
    padding-bottom:15px;
    border-bottom:1px solid yellow;
    transition:0.5s;

}

/* style des liens navbar */
.BG-nav{
    background:linear-gradient(rgba(241, 235, 235, 0.33),transparent,rgba(241, 235, 235, 0.33));
    border:1px solid white;
    height:100px;
}
/* media queries navbar */
@media screen  and (max-width:980px) {

    .BG-nav {
        background:linear-gradient(rgba(241, 235, 235, 0.33),transparent,rgba(241, 235, 235, 0.33));
        height:150px;
    }
    .BG-nav a{
       color:rgb(235, 9, 9);
     
} 
.LINK{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
}

/* style de H1 */
.title{
    font-size:60px;
    font-weight:bold;
    text-shadow:10px 10px 10px black;
}
.logo{
    border-radius:50%;
    box-shadow:0 0 20px rgb(238, 6, 6);
}

/* Box-shadow des titres */
.titre2,
.titre3{
    text-shadow:10px 10px 10px black;  
}

/* style du text-cards */
.PW{
    text-shadow:3px 3px 3px rgb(29, 41, 29);
}

/* style des H5 */
.H5{ text-shadow:3px 3px 3px rgb(29, 41, 29);

}
.CARD{
   box-shadow:0 0 15px black; 
    }
/* style du liens ass */
.ass{
   
    color:rgb(247, 43, 7);
    font-style:italic;
}

/* style du tableau */
.table,
.Bshad{
    box-shadow:0 0 15px rgb(75, 72, 72);
}


  /* style des liens contact */
  .mail a:hover,
  .phone a:hover{
    text-decoration: none;
    color:yellow;
    transition:0.5s;
    
  }

 /* disposition R-sociaux */
 .R-sociaux{
    height:100px;
    width:300px;
   
 }

.R-sociaux a:hover{
    padding-bottom:15px;
    border-bottom:1px solid yellow;
    transition:0.5s;
}

/* style btn  "top-page" */
.btn a{
    text-decoration: none;
}
.btn a:hover{
    color:rgb(13, 241, 241);
    padding-bottom:15px;
    border-bottom:solid 1px rgb(13, 241, 241);
    transition:0.5s;
}

/* color icons */
.white{
    color:white;
}

/* style boutton Sign-in */
.Sign:hover{
    background:teal;
    border:white solid 1px;
    color:white;
}