@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Merriweather&family=Redressed&family=Roboto&display=swap');;

/*style de body & html*/

html,body{
margin:0;
width:100%;
box-sizing:border-box;
}

/*les fonts deu site */
.merriweather{
    font-family: 'Merriweather', serif;
}

.allura{
    font-family: 'Allura', cursive;
}

.redressed{
    font-family: 'Redressed', cursive;

}

.greatvibes{
    font-family: 'Great Vibes', cursive;

}
.roboto{
    font-family: 'Roboto', sans-serif;
}

/*style de header*/
.header{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    height:600px;
    background-image:url(background.jpg);
    background-size:cover;
    margin-bottom:20px;

}
/*style du logo de la page*/
.logo{
    border-radius:50%;
    box-shadow:0 0 15px black;

}

/*style du titre de la page*/

.title{
   font-size:40px;
   color:yellow;
   font-weight:bold;

}
/*style de h2*/
h2{
    color:rgb(2, 63, 2);
    text-shadow:10px 10px 10px black;
    border:2px 0 gray;
    padding:10px;
    width:100%;
    text-align:center;
    background:linear-gradient(gray,white,gray)

}

/*style de h3*/
h3{
    color:rgb(63, 63, 233);
    text-shadow:10px 10px 10px black;
    text-decoration:underline ;

}

/*style de h4*/
h4{
    padding:15px; 
    color:brown;
    text-shadow:10px 10px 10px black; 
  
  }
  
/*style  de la barre de naviagation*/
.navigation{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:240px;
    width:100%;
    background:linear-gradient(rgba(241, 235, 235, 0.33),transparent,rgba(241, 235, 235, 0.33));
    border:1px solid white;

}

/* disposition des elementsde navigation*/
.navigation a{
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    color:white;

}

/* le suvol des liens*/
.navigation a:hover{
    color:var(--bs-yellow);
    background:transparent;
    padding-bottom:15px;
    border-bottom:1px solid yellow;
    transition:0.5s;

}

/* la disposition des articles */
.flex{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:auto;
    margin:10px 15px;
   
}

/*la disposition du main*/
.content{
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:auto;

}
.cart{
    border:1px solid gray;
    box-shadow:0 0 15px black;
    border-radius:10px;
    background:lightgrey;
    margin-top:15px;
}

/* style des images */
.photo{
    width:100%;
    margin:15px;
    max-width: 500px;
    box-shadow:0 0 15px black;
    border-radius:10px;
   
    
}
.photo:hover{
    transform:scale(1.05);
    transition: 0.5s;
}

/* style du textes */
.text{
    margin:10px 15px;
    max-width:500px;
    color:rgb(31, 20, 20);

}

/* style de aside */
.aside{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;
    margin:20px auto;
}

/* style des sections actu/aside */
.actu1{
    max-width:520px;
    margin:10px 15px;
    background:linear-gradient(rgb(241, 232, 94),rgb(79, 235, 79),rgb(82, 85, 230));
    box-shadow:0 0 15px black;
    border-radius:15px;
    color:white;
    padding:10px;
}

.actu2{
    max-width:520px;
    margin:10px 15px;
    background:linear-gradient(rgb(224, 89, 206),rgb(79, 191, 235),rgb(1, 2, 65));
    box-shadow:0 0 15px black;
    border-radius:15px;
    color:rgb(245, 236, 236);
    padding:10px;
}
.actu3{
    max-width:520px;
    margin:10px 15px;
    background:linear-gradient(rgb(10, 71, 2),rgb(253, 124, 3),rgb(1, 2, 65));
    box-shadow:0 0 15px black;
    border-radius:15px;
    color:rgb(245, 236, 236);
    padding:10px;
} 

/* style du liens ass */
.ass{
   
    color:rgb(247, 43, 7);
    font-style:italic;
}

/* couleur des h3/aside */
.yellow{
    color:yellow;
}
.Size{
    font-size:10px;
}

/* style des images /aside */
.IMG{
    box-shadow:0 0 15px black;
    border-radius:10px;
}

/* disposition des news/aside */
.news{
    display:block;
    text-align:left;

 }

/* style footer */

.height{
    height:560px;

  }
  .localisation{
    max-width:460px;
    border-radius:15px;
  }

  /* style des liens contact */
  .adress{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-style:italic
  }

  /* style des liens contact */
  .mail a:hover,
  .phone a:hover{
    text-decoration: none;
    color:yellow;
    transition:0.5s;
    
  }

  .white{
    color:white;
  }

  /* disposition R-sociaux */
.R-sociaux{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    max-width:150px;
    height:80px;

}
.R-sociaux a:hover{
    padding-bottom:15px;
    border-bottom:1px solid yellow;
    transition:0.5s;
}

/* style btn  "top-page" */
.btn a{
    text-decoration: none;
}
.btn a:hover{
    color:rgb(13, 241, 241);
    padding-bottom:15px;
    border-bottom:solid 1px rgb(13, 241, 241);
    transition:0.5s;
}